# dependencies
node_modules/
client/node_modules/
server/node_modules/

# environment files
*.env
client/.env
server/.env

# production
dist/
build/

# misc
.DS_Store
Thumbs.db

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# editor directories
.vscode/
.idea/
